<p class="pageHeader">Beauty Products</p>

<div class="container">
<table>
    <tr>
        <th>Product Name: </th>
        <th>Quantity:</th>
        <th>Price:</th>
        <th>Use:</th>
        <th>Brand</th>
    </tr>
</table>

</div>

