<!DOCTYPE html>
<html>
<head>
    <title>Ethics & Cosmetics</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <a href="/">Home</a>
</head>
<body>
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>

